<div class="dashboard-container">
    <h1>Dashboard Interativo</h1>
    <mat-tab-group>
      <mat-tab label="Clientes">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{ cliente.cliente_id }}</td>
              <td>{{ cliente.nome }}</td>
              <td>{{ cliente.email }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Endereços">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Rua</th>
              <th>Número</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let endereco of enderecos">
              <td>{{ endereco.endereco_id }}</td>
              <td>{{ endereco.rua }}</td>
              <td>{{ endereco.numero }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Departamentos">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let departamento of departamentos">
              <td>{{ departamento.departamento_id }}</td>
              <td>{{ departamento.nome }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>