.dashboard-container {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
}

thead tr {
  background: #f2f2f2;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
}
